table, th, td {
  border: 1px solid black;
}
th {
  text-align: center;
}
table {
  width: 100%;
}

th, td {
  padding: 15px;
}
form-group{
  text-align: left;
}

.payment-form{
  margin-top: 30px;
}
